<div class='row'>
    <div class='col-md-4 col-xs-12'><strong>{{capture.count}}</strong> packets</div>
    <div class='col-md-4 col-xs-12'><strong>{{capture.duration}}</strong> hours</div>
    <div class='col-md-4 col-xs-12'><strong>{{capture.capture}}</strong></div>
</div>
<hr />

<div class='row'>
    <div class='col-md-12'>&nbsp;</div>
</div>


<h5>Capture: <span ng-show='aggregate'>Aggregate</span> Packet Distribution<span ng-show='pps'> (Packets / Second)</span></h5>
<div class='row'>
    <div class='col-md-9 col-xs-12'>
        <div id='graphDiv'></div>
        <div id='graphSlider'></div>
        <div id='graphSizer' style='width:100%'>&nbsp;</div>
    </div>
    <div class='col-md-3 col-xs-12'>
        <div class='row'>
            <div class='col-xs-12'>
                <button class="btn btn-default full-width" ng-class='{active: aggregate == true}' ng-click='toggleAggregate()'>Cumulative</button>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                &nbsp;
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                <button class="btn btn-default full-width" ng-class='{active: pps == true}' ng-click='togglePacketsPerSecond()'>Packets / Second</button>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                &nbsp;
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'><div id='graphLegend'></div></div>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>&nbsp;</div>
</div>

