<h4>Capture Overview</h4>

<div class='row'>
    <div class='col-md-4 col-xs-12'><strong>{{capture.count}}</strong> packets</div>
    <div class='col-md-4 col-xs-12'><strong>{{capture.duration}}</strong> hours</div>
    <div class='col-md-4 col-xs-12'><strong>{{capture.capture}}</strong></div>
</div>
<hr />

<div class='row'>
    <div class='col-md-12'>&nbsp;</div>
</div>


<h5>Capture: <span ng-show='aggregate'>Aggregate</span> Packet Distribution<span ng-show='pps'> (Packets / Second)</span></h5>
<div id='graphDiv'>
    <canvas id='captureGraph'></canvas>
</div>

<div class='row'>
    <div class='col-md-12'>&nbsp;</div>
</div>

<div class='row' ng-repeat='proto in protocols'>
    <div class='col-md-1' ng-style='{"background-color":color[proto]}'>
        <div class="btn-group btn-toggle chart-control">
            <button class="btn btn-sm btn-default" ng-click='updateEnabled(proto, true)'>ON</button>
            <button class="btn btn-sm btn-primary active" ng-click='updateEnabled(proto, false)'>OFF</button>
        </div>
    </div>
    <div class='col-md-11 chart-control'><strong>{{protocol_translate[proto]}}</strong></div>
</div>

<div class='row'>
    <div class='col-md-12'>&nbsp;</div>
</div>

<div class='row'>
    <div class='col-md-1'>
        <div class="btn-group btn-toggle chart-control">
            <button class="btn btn-sm btn-default" ng-click='updateAggregate(true)'>ON</button>
            <button class="btn btn-sm btn-primary active" ng-click='updateAggregate(false)'>OFF</button>
        </div>
    </div>
    <div class='col-md-11'><strong>Cumulative</strong></div>
</div>
<div class='row'>
    <div class='col-md-1'>
        <div class="btn-group btn-toggle chart-control">
            <button class="btn btn-sm btn-default" ng-click='updatePacketsPerSecond(true)'>ON</button>
            <button class="btn btn-sm btn-primary active" ng-click='updatePacketsPerSecond(false)'>OFF</button>
        </div>
    </div>
    <div class='col-md-11'><strong>Packets per Second</strong></div>
</div>
