<ul class="nav nav-tabs">
    <li><a href="#viewer" data-toggle='tab'>Viewer</a></li>
    <li class='active'><a href="#data" data-toggle='tab'>Data</a></li>
    <li><a href="#fields" data-toggle='tab'>Fields</a></li>
</ul>

<div id='content' class="tab-content">
    <div class="tab-pane" id="viewer">
        Viewer.
    </div>
    <div class="tab-pane active" id="data">
        <div class='row'>
            <div class='col-md-6'>
                <h4>Active</h4>
            </div>
            <div class='col-md-6'>
                <h4>Inactive</h4>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="fields">
        Fields.
    </div>
</div>
