<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseBase">
                    Overview
                </a>
            </h4>
        </div>
        <div id="collapseBase" class="panel-collapse collapse">
            <div class="panel-body">
                This page offers a quick way to review / compare benchmark results.  It also intends to serve as
                a practical example of how one might work with the data offered by the benchmarks.
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-attribution">
                    Attribution
                </a>
            </h4>
        </div>
        <div id="collapse-attribution" class="panel-collapse collapse">
            <div class="panel-body">
                Technologies / services used either by this site directly or during its development include:
                <ul>
                    <li><a href='http://nodejs.org'>Node.JS</a></li>
                    <li><a href='http://npmjs.org'>NPM</a></li>
                    <li><a href='http://yeoman.io/'>Yeoman</a></li>
                    <li><a href='http://angularjs.org'>AngularJS</a></li>
                    <li><a href='http://jquery.com'>jQuery</a></li>
                    <li><a href='http://getbootstrap.com'>Bootstrap 3</a></li>
                    <li><a href='http://macvendorlookup.com'>Mac Vendor Lookup</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
